@()
<html>
    <head>
        <title>My Hobby</title>
    </head>
    <br>
    <body>
        <h1 align="center"style="background-color: #ffc107">งานอดิเรกของฉัน</h1>
        <br>
        <h3 align="center" style="background-color: #fd7e14" >ฟังเพลง</h3>
        <div class="row">
            <div align="center"class="col-sm-3"  style="background-color:lavender;">Getsunova</div>
            <div align="center"class="col-sm-3"  style="background-color:lavenderblush;">GOT7</div>
            <div align="center"class="col-sm-3"  style="background-color:lavender;">BlackPink</div>
            <div align="center"class="col-sm-3"  style="background-color:lavenderblush;">Day6</div>
        </div>
        <p><br>
                &emsp;&emsp; <img src="assets/images/get.jpg" width="200"height="200">
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/images/got7.jpg" width="200"height="200">
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/images/black.jpg" width="200"height="200">
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/images/Day6.jpg" width="200"height="200">
        </p>
        <h3 align="center" style="background-color: hotpink" >อ่านหนังสือ</h3>
        <div class="row">
            <div align="center"class="col-sm-3"  style="background-color:lavender;">เวยเวย</div>
            <div align="center"class="col-sm-3"  style="background-color:lavenderblush;">หมื่นฟุต</div>
            <div align="center"class="col-sm-3"  style="background-color:lavender;">Shark Wars1</div>
            <div align="center"class="col-sm-3"  style="background-color:lavenderblush;">Shark Wars2</div>
        </div>
        <p><br>
                &emsp;&emsp;&emsp;<img src="assets/images/wei.jpg" width="200"height="300">
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/images/fut.jpg" width="200"height="300">
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/images/shark1.jpg" width="200"height="300">
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/images/shark2.jpg" width="200"height="300">
        </p>

    </body>
</html>