@()
<html>
    <head>
        <title>
    welcome to My Profile
        </title>
    </head>
    <body style="background-color: cornsilk">
        <div class="row">

        </div>

        <h1 align="center" style="background-color: #fd7e14;">Konkanok Supharut</h1>
        <hr align="center" color="orange" size="35" hr>
        <p align="center">
            <img src="assets/images/T.jpg" width="250"height="300">
        </p>
        <br>
        <table class="table table-striped" bgcolor="#ffb6c1" >
            <div align="center"class="col-sm-12"  style="background-color:lavender;">ชื่อเล่น : หยก </div>
            <div align="center"class="col-sm-12"  style="background-color: lightpink">อายุ : 21 </div>
            <div align="center"class="col-sm-12"  style="background-color:lavender;">วันเดือนปีเกิด : วันจันทร์ ที่ 4 เดือน พฤษภาคม 2541 </div>
            <div align="center"class="col-sm-12"  style="background-color:lightpink;">ที่อยู่อาศัย : เอื่ออาทร 135/416 ซ.4/2 ต.เมืองเก่า อ.เมือง จ.ขอนแก่น 40000</div>
            <div align="center"class="col-sm-12"  style="background-color:lavender;">เบอร์โทรศัพท์ : 0933982204 </div>
            <div align="center"class="col-sm-12"  style="background-color:lightpink;">ระดับการศึกษา : มัธยมต้น:เทศบาลบ้านตูม </div>
            <div align="center"class="col-sm-12"  style="background-color:lavender;">ระดับการศึกษา : มัธยมปลาย:กัลยาณวัตร </div>
            <div align="center"class="col-sm-12"  style="background-color:lightpink;">ระดับการศึกษา : ปริญญาตรี:มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น</div>

        </table>
    </body>
</html>

