@(sneak:Sneakers)
<h1>List Information</h1>
<table class="table table-success table-info">
    <tr>
    <td>Name</td>
    <td>@sneak.getName</td>
    </tr>
    <tr>
        <td>Color</td>
        <td>@sneak.getColor</td>
    </tr>
    <tr>
        <td>Size</td>
        <td>@sneak.getSize</td>
    </tr>
    <tr>
        <td>Brand</td>
        <td>@sneak.getBrand</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>@sneak.getGender</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@sneak.getPrice</td>
    </tr>
    <tr>
        <td>Rubber Soles</td>
        <td>@sneak.getRubberSoles</td>
    </tr>
    <tr>
        <td>Shoe Head Style</td>
        <td>@sneak.getShoeHeadStyle</td>
    </tr>
    <tr>
        <td>Shoe Line Type</td>
        <td>@sneak.getShoelinetype</td>
    </tr>
    <tr>
        <td>Type of Fabric</td>
        <td>@sneak.getTypeOfFabric</td>
    </tr>
    <tr>
        <td>Design</td>
        <td>@sneak.getDesign</td>
    </tr>



</table>