<html>
    <head>
        <style>
        /* Style the element with the id "myHeader" */
        #myHeader {
            background-color: lightblue;
            color: black;
            padding: 40px;
            text-align: center;
        }

        /* Style all elements with the class name "city" */
        .city {
            background-color: tomato;
            color: white;
            padding: 10px;
        }
        </style>
    </head>
    <body>

            <!-- A unique element -->
        <h1 id="myHeader">เป้าหมายในชีวิตของฉัน</h1>

            <!-- Multiple similar elements -->
        <h2 class="city">เรื่องเรียน</h2>
        <p>เรียนให้จบในระดับปริญญาตรี ภานใยระยะเวลา 4 ปี </p>

        <h2 class="city">ครอบครัว</h2>
        <p>ดูแลบิดามารดาในยามแก่เฒ่า</p>

        <h2 class="city">งาน</h2>
        <p>ทำงานในสายอาชีพที่เรียนจบมา</p>

    </body>
</html>
