@()
<html>
    <head>
        <title>Travel</title>
    </head>
        <body>
            <h1 align="center"style="background-color: #80bdff">สถานที่ท่องเที่ยวที่ชอบ </h1>
         <div class="row"      >
             <div class="col-sm-2"  style="background-color:lavender;">ภูทับเบิก พิกัดที่ตั้งของภูทับเบิกอยู่ที่ตำบลวังบาล จังหวัดเพชรบูรณ์ มีความสูงจากระดับน้ำทะเลประมาณ 1,768 เมตร ทั้งยังเป็นจุดสูงสุดของจังหวัดเพชรบูรณ์ ความสวยงามของภูทับเบิกที่ใครมาเห็นก็ต้องหลงรัก เห็นจะอยู่ที่ภูมิประเทศ มองออกไปเบื้องหน้าเห็นทะเลภูเขา ป่าไมเขียวชอุ่มอุดมสมบูรณ์ โดยรวมแล้วอากาศที่ภูทับเบิกเย็นสบายตลอดทั้งปี ตอนเช้า ๆ จะมองเห็นหมอกและกลุ่มเมฆสีขาว ตัดกับยอดภูสีเขียว ช่างสวยงามตา อีกทั้งยังเป็นเส้นทางเชื่องโยงสู่แหล่งท่องเที่ยวและประวัติศาสตร์สำคัญอย่าง “อุทยานภูหินร่องกล้า” </div><br>
                 &emsp;<img src="assets/images/Pu1.jpg" width="500"height="500">
                 &emsp;<img src="assets/images/Pu2.jpg" width="500"height="500">


         </div><br>
            <div class="row"      >
                <div class="col-sm-2"  style="background-color: lavenderblush">ฉงชิ่ง มหานครที่ใหญ่ที่สุดทางภาคตะวันตกเฉียงใต้ของจีน หนึ่งในสี่มหานครของประเทศจีน เมืองนี้มีที่เที่ยวมากมาย แต่ละที่ล้วนเดินทางง่ายดายมีทั้ง แหล่งช้อปปิ้ง มีทั้งที่เที่ยวเชิงประวัติศาสตร์ และธรรมชาติที่สุดอลังกาลที่ไม่ควรพลาด</div><br>
                    &emsp;<img src="assets/images/tour.jpg" width="500"height="500">
                    &emsp;<img src="assets/images/C1.jpg" width="500"height="500">
            </div>

        </body>



</html>